*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../img/indir.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    width: 30%;
    height: 500px;
    background-color: rgb(251, 255, 0);
    margin: 60px auto;
    border-radius: 15px;
}

.email{
    width: 80%;
    height: 7vh;
    margin-left: 7vh;
    margin-top: 10vh;
    border: none;
    box-shadow: 6px 5px 20px 6px rgb(241, 140, 140);
    font-size: 1.5rem;
    background-color: antiquewhite;
    border-radius: 4px;
    border-bottom: 10px;
}
.password{
    width: 80%;
    height: 7vh;
    margin-left: 7vh;
    margin-top: 5vh;
    border: none;
    box-shadow: 6px 5px 20px 6px rgb(241, 140, 140);
    font-size: 1.5rem;
    background-color: antiquewhite;
    border-radius: 4px;
    border-bottom: 10px;
}
.submit{
    width: 40%;
    height: 7vh;
    margin: 15vh 20vh;
    font-size: 1.5rem;
    background-color: antiquewhite;
    border-radius: 4px;
    border-color: aliceblue;
    color: cadetblue;
    cursor: pointer;
}

#eye-open{
    position: absolute;
    top: 34vh;
    right: 85vh;
    cursor: pointer;
    
}